/* Fonts */

/*Nav*/

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('../fonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Bold.woff') format('woff'),
         url('../fonts/HKGrotesk-Bold.otf') format('otf'),
         url('../fonts/HKGrotesk-Bold.svg#terpel_sansregular') format('svg');
    font-weight: 600;
    font-style: normal;
}

/*Headings*/

@font-face {
    font-family: 'Sansation Regular';
    src: url('../fonts/Sansation-Regular.woff') format('woff'),
         url('../fonts/Sansation-Regular.otf') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Sansation Light';
    src: url('../fonts/Sansation-Light.woff') format('woff'),
         url('../fonts/Sansation-Light.otf') format('woff');
    font-style: normal;
}

/*Parrafos*/

@font-face {
    font-family: 'HK Grotesk Light';
    src: url('../fonts/HKGrotesk-Light.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Light.woff') format('woff'),
         url('../fonts/HKGrotesk-Light.svg#terpel_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/*Botones, Footer*/

@font-face {
    font-family: 'HK Grotesk Regular';
    src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Regular.woff') format('woff'),
         url('../fonts/HKGrotesk-Regular.svg#terpel_sansbold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
         url('../fonts/HKGrotesk-SemiBold.woff') format('woff'),
         url('../fonts/HKGrotesk-SemiBold.svg#terpel_sansbold') format('svg');
    font-style: normal;
}

/*Colores*/

.blue{color: #2540f8!important;}
.darkBlue{color: #002382!important;}
.green{color: #9ddf36!important;}
.white{color: #ffffff!important;}

.opa-0{opacity: 0;}

.bg-grey{background-color: #ededed!important;}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'HK Grotesk Light', Arial, sans-serif!important;
    font-style: normal;
    font-weight: 500;
}

table, tr, th, td{
    font-family: 'HK Grotesk Light', Arial, sans-serif;
}

ol>li {
    word-break: break-all;
}

table.htmlDetailElementTable > tbody > tr > td, table.htmlDetailElementTable > tbody > tr > th{
    padding: 0px!important;
}


@media (min-width: 1080px){
    main {
        max-width: 100%;
        min-height: initial;
    }
}


@media (min-width: 840px){
    .mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
        width: calc(100%);
    }

    .mdl-cell{margin: 0!important;}
}

/*Elements*/

a, a.btn{
    text-decoration: none;
}

.btn{
    border-radius: 0;
    padding: 5px 50px;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
    outline: none;
}

.btn.btn-blue{
    background: #2540f8;
}

div.separador{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

/*Responsive*/

@media (min-width:320px) {

}
  
@media (min-width:1080px) {

}

@media (min-width:1400px) {

}

@media (min-width:1800px) {

}

/*Nav*/

header.fielo-outline.fielo-header{
    background-color: #2540f8;
    border-bottom: 5px solid #002382;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        background-image: url('../images/ui/logoClubGazel.svg');
        background-repeat: no-repeat;
        background-size: 14%;
        background-position: 8% 58%;
        padding: 50px 0px 40px 430px;    
    }
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item{
    padding: 0px 30px;
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
    font-size: 1.3rem;
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:hover, 
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:visited,
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:focus{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
    
}

@media (min-width:1080px) {
    .fielo-app-menu__btn{display: none;}
}

/*Footer*/

div.el-footer{
    background: #2540f8;
    color: #fff;    
    padding: 1.5rem 0rem;
}

div.texto-footer-1{
    line-height: 1.4rem;
}

a.footer__link-telefono, 
a.footer__link-telefono:hover,
a.footer__link-telefono:visited{
    color: #fff;
    text-decoration: none;
}

a.footer__link-telefono > span.footer-numbers{
    font-family: 'HK Grotesk Bold';
    font-size: 1.6rem;
}

ul.nav-footer-1{
    list-style: none!important;
}

li.nav-footer-item > a.nav-footer-link,
li.nav-footer-item > a.nav-footer-link:visited{
    color: #fff;
    text-decoration: none;
    font-family: 'HK Grotesk Regular', Arial, sans-serif;
}

li.nav-footer-item > a.nav-footer-link:hover{
    color: #fff;
    text-decoration: none;
    font-family: 'HK Grotesk SemiBold', Arial, sans-serif;
}

div.el-copyright{
    background: #9ddf36;
    color: #fff;
    font-family: 'HK Grotesk Regular', Arial, sans-serif;
}

div.fielo-record.fielo-markup.fielo-content.fielo-js-component > h3.fielo-title{
    display: none!important;
}

div.fielo-record.fielo-markup.fielo-content.fielo-js-component > span.fielo-output.fielo-output__text > span > table.htmlDetailElementTable{
    width: 100%;
}

footer.fielo-outline.fielo-footer > div.mdl-grid.fielo-row > div.mdl-cell{
    margin: 0;
}

footer.fielo-outline.fielo-footer > div.mdl-grid.fielo-row > div.mdl-cell.mdl-cell--12-col{
    width: calc(100%);
}

/*Home*/

/* div.home__seccion1{

} */

h1.home__blue{
    color: #2540f8;
    font-family: 'Sansation Regular';
}

p.home__seccion1-parrafo{
    color: #002382;
    font-size: 1.7rem;
}

div.home__seccion1 > div > a.btn.btn-blue{
    background: #2540f8;
    border-radius: 0;
    padding: 5px 50px;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
}

div.home__seccion1 > div > a.btn.btn-blue > span{
    color: #9ddf36
}

div.home__seccionMapa{
    padding-top: 4rem;
    padding-bottom: 3rem;
}

div#divmapaEstaciones > div#divContent{
    margin: 0 10px;
}

@media (min-width:1080px) {
    div#divmapaEstaciones > div#divContent{
        margin: 0 80px;
    }
}

div#divmapaEstaciones > div#divContent > div.slds-form-element > div.slds-form-element > div.slds-form-element__control > div.slds-select_container > select.slds-select{
    background: #f2f2f2;
    margin: 0 auto;
    padding: 5px;
    width: 95%;
}

/* LOGIN */

legend.fielo-title{
    display: none!important;
}

.header__nav-responsive{
    padding: 15px 10px;
}

.header__nav-responsive-logo{
    width: 160px;
}

div.login__seccion1{
    padding: 20px 10px;
}

@media (min-width:1080px) {
    div.login__seccion1{
        padding: 50px 10px;
    }
}

h1.login__seccion1-titulo{
    text-decoration: underline;
    -webkit-text-decoration-color: #9ddf36;
    text-decoration-color: #9ddf36;
    text-underline-offset: 33%;
    line-height: 6rem;
}

p.login__seccion1-subtitulo{
    color: #002382;
    font-size: 1.4em;
    font-weight: bold;
}

/* .login__componentBox{

} */

div.fieloplt-login > form > fieldset,
div.fieloplt-login > form > fieldset > div.fielo-field--is-username > div {
    margin-bottom: 1.3rem!important;
}

.fielo-field--is-username > .fielo-field__label,
.fielo-field--is-password > .fielo-field__label{
    color: #002382;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 30px;
    text-align: left;
}

@media (min-width:1080px) {
    .fielo-field--is-username > .fielo-field__label,
    .fielo-field--is-password > .fielo-field__label{
        text-align: right;
    }
}

.fielo-field--is-username > .fielo-field__value > input,
.fielo-field--is-password > .fielo-field__value > input{
    width: 33%;
    min-width: 250px;
    border: 1px solid #cccccc;
}

div.fieloplt-login > form > div.fielo-controls{
    text-align: center;
}

div.fieloplt-login > form > div.fielo-controls > button.fieloplt-login__submit{
    background: #2540f8;
    border: 0;
    color: #9ddf36;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    outline: none;
    padding: 5px 60px;
}

div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:hover,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:focus,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:visited{
    color: #053eff;
    font-size: 1.2em;
}

/* REGISTRO */

div.registro__seccion1{
    background: #f7f7f7;
}

h1.registro__headinType1{
    font-family: 'Sansation Regular';
    margin: 0;
}

h1.registro__headinType2{
    font-family: 'Sansation Light';
    margin: 0;
}

h2.registro__headinType3{
    font-family: 'HK Grotesk Regular';
    font-size: 1.7rem;
}

.registro__form > div.slds-media__body{
    display: none;
}

.slds-form-element__label{
    color: #002382!important;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem!important;
    font-weight: bold;
}

.slds-select,
.slds-input{
    border: 1px solid #ccc!important;
    border-radius: 0;
    color: #838282!important;
}

.slds-scope{
    font-family: 'HK Grotesk Regular'!important;
}

.slds-checkbox__label > span.slds-form-element__label,
.slds-checkbox__label > a{
    color: #838282!important;
    font-size: 1rem!important;
}

a#idSaveButon{
    background: #2540f8;
    border-radius: 0;
    color: #9ddf36;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
    padding: 5px 50px;
}

.registro__popUp-base{
    background: #053eff;
    border-radius: 30px;
}

img.registro__popUp-image{
    border-radius: 30px 0px 0px 30px;
}

h1.registro__popUp-header{
    color: #fff;
    font-family: 'Sansation Regular';
    font-size: 2.8rem;
    line-height: 2.7rem;
}

h3.registro__popUp-text{
    color: #fff;
    font-family: 'HK Grotesk Regular';
    font-size: 1rem;
}

button.registro__popUp-boton{
    border: 0;
    background: #9ddf36;
    border-radius: 0;
    color: #2540f8;
    font-family: 'HK Grotesk Regular';
    font-size: 1rem;
    outline: none;
    padding: 3px 30px;
}

.slds-scope .slds-form-element__help, .slds-scope .slds-form-element__helper{
    font-size: 1rem;
    font-weight: 600;
    color: red;
}

.slds-scope .slds-modal__close{
    top: -.8rem;
    right: -.5rem;
    z-index: 10;
}

/* QUIENES SOMOS */

p.quienesSomos__seccion-1-parrafo{
    color: #002382;
    font-size: 1.2rem;
}

@media (min-width:1080px) {
    p.quienesSomos__seccion-1-parrafo{
        color: #002382;
        font-size: 1.4rem;
    }
}

.quienesSomos__seccion-2{
    background-color: #2540f8;
    background-image: url(../images/quienes-somos/quienesSomos__elemento1.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 470px;
}

@media (min-width:1080px) {
    .quienesSomos__seccion-2{
        background-position: 100% 50%;
        background-size: 50%;
    }
}

.quienesSomos__seccion-2-row{
    min-height: 470px;
}

h1.quienesSomos__titulo2-blanco{
    color: #fff;
    font-family: 'Sansation Light';
}

h1.quienesSomos__titulo2-azul{
    color: #053eff;
    font-family: 'Sansation Light';
}

ul.quienesSomos__lista1-blanco{
    color: #fff;
    margin-top: 30px;
}

ul.quienesSomos__lista1-blanco > li{
    color: #fff;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem;
}

ul.quienesSomos__lista1-azul{
    color: #002382;
    margin-top: 30px;
}

ul.quienesSomos__lista1-azul > li{
    color: #002382;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem;
}

div.quienesSomos__seccion-3-icons{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

@media (min-width:1400px) {
    div.quienesSomos__seccion-3-icons.borde{
        border-left: 1px solid #9ddf36;
    }
}

div.quienesSomos__seccion-3-icons > img{
    max-width: 95px;
}

p.quienesSomos__seccion-3-txt{
    color: #053eff;
    font-family: 'HK Grotesk Regular';
    padding-top: 10px;
}

.quienesSomos__seccion-4{
    background: #f7f7f7;
}

.quienesSomos__elemento2-img{
    max-width: 130px;
}

@media (min-width:1080px) {
    .quienesSomos__elemento2-img{
        max-width: 187px;
    }
}

/* YA ERES PARTE */

.slds-media__body{
    display: none!important;
}

.yaEresParte__seccion-1{
    background-color: #f7f7f7;
    background-image: url(../images/ya-eres-parte/yaEresParte__elemento-1.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400px;
}

@media (min-width:1080px) {
    .yaEresParte__seccion-1{
        background-position: 100% 50%;
        background-size: 50%;
    }
}

.yaEresParte__seccion-1-row{
    min-height: 400px;
}

div.yaEresParte__form > div.slds-scope > div.slds-size_1-of-2.slds-max-small-size_1-of-1{
    margin: 0 auto;
}

/* POLITICAS */

.politicas__seccion-1{
    background: #f7f7f7;
}

p.politicas__parrafo, li.politicas__parrafo {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: justify;
}

/* MI PERFIL */

h1.miPerfil__nombre{
    font-family: 'Sansation Light';
}

h1.miPerfil__nombre > span.bold{
    font-family: 'Sansation Regular';
}

h4.miPerfil__puntos{
    font-family: 'HK Grotesk Regular';
}

div.miPerfil__welcomeBox > div > span > span > table.htmlDetailElementTable{
    width: 100%;
}

div.miPerfil__misAcumulaciones{
    margin-bottom: 50px;
}

div.miPerfil__misAcumulaciones > h3.fielo-title, div.miPerfil__misRedenciones > h3.fielo-title{
    color: #002382!important;
    font-family: 'HK Grotesk Regular';
    text-align: center;
}

div.miPerfil__misAcumulaciones > table > thead.fielo-table__head > tr, div.miPerfil__misRedenciones > table > thead.fielo-table__head > tr{
    background-color: #e3e3e3;
    color: #143dff;
    font-family: 'HK Grotesk Regular';
}

div.miPerfil__misAcumulaciones > table.mdl-data-table th, div.miPerfil__misRedenciones > table.mdl-data-table th{
    color: #143dff;
    height: 30px;
    margin-bottom: 30px;
    padding: 5px 0;
    text-align: center;    
}

div.miPerfil__misAcumulaciones > table.mdl-data-table td, div.miPerfil__misRedenciones > table.mdl-data-table td{
    border: 0!important;
    text-align: center;
    vertical-align: middle;
}

nav.fielo-paginator{
    margin-top: 20px;
    text-align: right;
}

nav.fielo-paginator > a.fielo-link__previous, nav.fielo-paginator > a.fielo-link__next{
    border: 1px solid #99abff;
    font-weight: bold;
    padding: 5px 20px;    
}

td.fielo-field--is-F_Descripcion__c::before{
    font-weight: bold;
    color: #143dff;
    background: #e3e3e3;
    vertical-align: middle;
}

/* REDIME */

nav.slds-nav-vertical{
    background: #fff;
}

nav.slds-nav-vertical > div.slds-nav-vertical__section > h2.slds-nav-vertical__title{
    background-color: #143dff;
    color: #fff;
    font-family: 'Sansation Light';
    font-size: 2rem;
    padding: .8rem 1rem;
}

.slds-scope .slds-nav-vertical__action{
    font-family: 'HK Grotesk Regular';
}

div.slds-nav-vertical__section > ul {
    margin-top: 50px;
    padding-bottom: 40px;
}

li.slds-nav-vertical__item > a > span.slds-assistive-text{
    font-family: 'HK Grotesk Regular';
    color: #1c297a;
}

div#idBalancePuntos{
    display: none;
}

.slds-scope .slds-card__footer{
    padding: 0;
}

footer.slds-card__footer > div.slds-clearfix{
    background-color: #143dff;
}

footer.slds-card__footer > div.slds-clearfix > div.slds-float_left, 
footer.slds-card__footer > div.slds-clearfix > div.slds-float_right{    
    padding: .4rem;
    width: 50%;
    text-align: center;
}

footer.slds-card__footer > div.slds-clearfix > div.slds-float_left{
    background-color: #002380;
    color: #9ddf36;
}

footer.slds-card__footer > div.slds-clearfix > div.slds-float_right{
    background-color: #143dff;
    color: #fff;
    font-family: 'HK Grotesk Regular';
}

footer.slds-card__footer > div.slds-clearfix > div.slds-float_right > p > a.slds-card__footer-action{
    color: #fff!important;
    font-family: 'HK Grotesk Regular';
    text-transform: uppercase;
}

footer.slds-card__footer > div.slds-clearfix > div.slds-float_right > p > a.slds-card__footer-action:hover, 
footer.slds-card__footer > div.slds-clearfix > div.slds-float_right > p > a.slds-card__footer-action:visited{
    color: #fff!important;
    font-family: 'HK Grotesk SemiBold';
}

div.slds-card__body.slds-card__body_inner.slds-grid.slds-grid_vertical > div{
    text-align: center;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
}

div.slds-card__body.slds-card__body_inner.slds-grid.slds-grid_vertical > div > img{
    max-height: 135px;
    max-width: 50%;
    margin-bottom: 20px; 
}

div.slds-section__title-action{
    display: none!important;
}

.slds-scope .slds-card{    
    /* background-image: url('../images/ui/redime__logo.png'); */
    background-position: 25px 20px;
    background-repeat: no-repeat;
    background-size: 93px;    
    padding-top: 30px;/* 60px */
}

h1.redime__nombre {
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
}

h4.redime__puntos {
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
}

h1.redime__titulo{
    font-family: 'Sansation Regular';
    font-size: 2rem;
}

h4.redime_subtitulo{
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;    
}

div#modalRedencionContent > article.slds-card, div#modalRedencionExitosaContent > article.slds-card{
    background-color: #f0f0f0;
    background-image: none;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.tituloProducto{
    background: #fff;
    background-image: url(../images/ui/redime__logo.png);
    background-position: 25px 20px;
    background-repeat: no-repeat;
    background-size: 93px;
    margin: 0px 20px;
    padding-top: 50px;
    width: 86%!important;
}

@media (min-width:1080px) {
    .tituloProducto{
        width: 55%!important;
    }
}

div.redimirModalImagen > div.slds-form-element > div.slds-form-element__control > div > img{
    width: 50%;
}

div.redimirModalImagen > div.slds-form-element{
    padding: 0;
}

div.slds-card__header{
    display: none!important;
}

h2.slds-card__header-title > span{
    font-family: 'HK Grotesk SemiBold';
    font-size: 1.4rem;
}

div.redimirModalImagen > div.slds-form-element > div.slds-form-element__control > div.slds-align_absolute-center{
    background-color: #002380;
    margin-top: 20px;
    padding: 20px 5px;
}

div.redimirModalImagen > div.slds-form-element > div.slds-form-element__control > div.slds-align_absolute-center > h3{
    color: #9ddf36;
    font-family: 'HK Grotesk SemiBold';
}

div.redimirModalImagen > div.slds-form-element > a.slds-button{    
    background: #143dff;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 1.3rem;
    padding: 8px 5px;
    text-transform: uppercase;    
}

div.redimirModalEDS > div.slds-form-element > div.slds-form-element__control > div.slds-form-element{
    margin-bottom: 10px;
}

div.redimirModalEDS > div.slds-form-element > div.slds-form-element__control > div.slds-form-element > label.slds-form-element__label{
    font-size: .9rem!important;
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body{
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;    
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element{
    padding-bottom: 0;
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div.slds-size_1-of-1, 
div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div.slds-size_1-of-1 > p{    
    background: transparent;
    color: #1c297a;
    margin: 0;
    padding: 0 20px;    
    text-align: center;
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div.slds-size_1-of-1 > img{
    margin-bottom: 20px;
    max-width: 225px;
    width: 30%;    
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div{
    background: #1c297a;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div > div > p{
    padding: 0 15px;
}

@media (min-width:1080px) {
    div#modalRedencionExitosaContent > article.slds-card > div.slds-card__body > div.custom-container > div > div.slds-form-element > div.slds-form-element__control > div > div > p{
        padding: 0;
    }
}

div#modalRedencionExitosaContent > article.slds-card > footer.slds-card__footer{
    background: #1c297a;
    margin: 0;
    padding: 5px 0px;
}

div#modalRedencionExitosaContent > article.slds-card > footer.slds-card__footer > a.slds-card__footer-action{
    background: #143dff;
    color: #96d63a;
    font-size: 1.2rem;
    margin: 0 auto 20px auto;
    max-width: 55%;
    padding: 5px 40px;    
    text-align: center;
    text-decoration: none;
}

@media (min-width:1080px) {
    div#modalRedencionExitosaContent > article.slds-card > footer.slds-card__footer > a.slds-card__footer-action{
        max-width: 33%;
    }
}