/* Fonts */

/*Nav*/

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('../fonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Bold.woff') format('woff'),
         url('../fonts/HKGrotesk-Bold.otf') format('otf'),
         url('../fonts/HKGrotesk-Bold.svg#terpel_sansregular') format('svg');
    font-weight: 600;
    font-style: normal;
}

/*Headings*/

@font-face {
    font-family: 'Sansation Regular';
    src: url('../fonts/Sansation-Regular.woff') format('woff'),
         url('../fonts/Sansation-Regular.otf') format('woff');
    font-style: normal;
}

/*Parrafos*/

@font-face {
    font-family: 'HK Grotesk Light';
    src: url('../fonts/HKGrotesk-Light.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Light.woff') format('woff'),
         url('../fonts/HKGrotesk-Light.svg#terpel_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/*Botones, Footer*/

@font-face {
    font-family: 'HK Grotesk Regular';
    src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Regular.woff') format('woff'),
         url('../fonts/HKGrotesk-Regular.svg#terpel_sansbold') format('svg');
    font-style: normal;
}

/*Colores*/

.blue{color: #2540f8!important;}
.darkBlue{color: #002382!important;}

.green{color: #9ddf36!important;}

.white{color: #ffffff!important;}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'HK Grotesk Light', Arial, sans-serif!important;
    font-style: normal;
    font-weight: 500;
}

html.bg-grey-3 body{
    background: #ffffff;
}

table, tr, th, td{
    font-family: 'HK Grotesk Light', Arial, sans-serif;
}

ol>li {
    word-break: break-all;
}

table.htmlDetailElementTable > tbody > tr > td, table.htmlDetailElementTable > tbody > tr > th{
    padding: 0px!important;
}

html.bg-grey-4 body{
    background: #ffffff;
}

/*Responsive*/

@media (min-width:320px) {

}
  
@media (min-width:1080px) {

}

@media (min-width:1400px) {

}

@media (min-width:1800px) {

}

/*Nav*/

header.fielo-outline.fielo-header{
    background-color: #2540f8;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-top: 30px;
        padding-left: 430px;
        background-image: url('../images/ui/logoClubGazel.svg');
        background-repeat: no-repeat;
        background-size: 12%;
        background-position: 10% 50%;
        background-color: #fff;
    }
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:hover, 
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:visited,
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:focus{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
}
