/* Fonts */

/*Nav*/

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('../fonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Bold.woff') format('woff'),
         url('../fonts/HKGrotesk-Bold.otf') format('otf'),
         url('../fonts/HKGrotesk-Bold.svg#terpel_sansregular') format('svg');
    font-weight: 600;
    font-style: normal;
}

/*Headings*/

@font-face {
    font-family: 'Sansation Regular';
    src: url('../fonts/Sansation-Regular.woff') format('woff'),
         url('../fonts/Sansation-Regular.otf') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Sansation Light';
    src: url('../fonts/Sansation-Light.woff') format('woff'),
         url('../fonts/Sansation-Light.otf') format('woff');
    font-style: normal;
}

/*Parrafos*/

@font-face {
    font-family: 'HK Grotesk Light';
    src: url('../fonts/HKGrotesk-Light.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Light.woff') format('woff'),
         url('../fonts/HKGrotesk-Light.svg#terpel_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/*Botones, Footer*/

@font-face {
    font-family: 'HK Grotesk Regular';
    src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Regular.woff') format('woff'),
         url('../fonts/HKGrotesk-Regular.svg#terpel_sansbold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
         url('../fonts/HKGrotesk-SemiBold.woff') format('woff'),
         url('../fonts/HKGrotesk-SemiBold.svg#terpel_sansbold') format('svg');
    font-style: normal;
}



/*Colores*/

.blue{color: #2540f8!important;}
.darkBlue{color: #002382!important;}

.green{color: #9ddf36!important;}

.white{color: #ffffff!important;}

.opa-0{opacity: 0;}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'HK Grotesk Light', Arial, sans-serif!important;
    font-style: normal;
    font-weight: 500;
}

html.bg-grey-3 body{
    background: #ffffff;
}

table, tr, th, td{
    font-family: 'HK Grotesk Light', Arial, sans-serif;
}

ol>li {
    word-break: break-all;
}

table.htmlDetailElementTable > tbody > tr > td, table.htmlDetailElementTable > tbody > tr > th{
    padding: 0px!important;
}

html.bg-grey-4 body{
    background: #ffffff;
}

@media (min-width: 1080px){
    main {
        max-width: 100%;
        min-height: initial;
    }
}



@media (min-width: 840px){
    .mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
        width: calc(100%);
    }

    .mdl-cell{margin: 0!important;}
}

/*Elements*/

a, a.btn{
    text-decoration: none;
}

.btn{
    border-radius: 0;
    padding: 5px 50px;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
    outline: none;
}

.btn.btn-blue{
    background: #2540f8;
}

div.separador{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

/*Responsive*/

@media (min-width:320px) {

}
  
@media (min-width:1080px) {

}

@media (min-width:1400px) {

}

@media (min-width:1800px) {

}

/*Nav*/

header.fielo-outline.fielo-header{
    background-color: #2540f8;
    border-bottom: 5px solid #002382;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        background-image: url('../images/ui/logoClubGazel.svg');
        background-repeat: no-repeat;
        background-size: 12%;
        background-position: 10% 57%;
        padding: 50px 0px 40px 430px;    
    }
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item{
    padding: 0px 30px;
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
    font-size: 1.3rem;
}

nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:hover, 
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:visited,
nav.fielo-menu__block > ul.fielo-list.fielo-list--is-unordered > li.fielo-list__item > a.fielo-link:focus{
    color: #fff;
    font-family: 'HK Grotesk Bold';
    text-decoration: none;
    
}

@media (min-width:1080px) {
    .fielo-app-menu__btn{display: none;}
}

/*Footer*/

div.el-footer{
    background: #2540f8;
    color: #fff;    
    padding: 1.5rem 0rem;
}

div.texto-footer-1{
    line-height: 1.4rem;
}

a.footer__link-telefono, 
a.footer__link-telefono:hover,
a.footer__link-telefono:visited{
    color: #fff;
    text-decoration: none;
}

a.footer__link-telefono > span.footer-numbers{
    font-family: 'HK Grotesk Bold';
    font-size: 1.6rem;
}

ul.nav-footer-1{
    list-style: none!important;
}

li.nav-footer-item > a.nav-footer-link,
li.nav-footer-item > a.nav-footer-link:visited{
    color: #fff;
    text-decoration: none;
    font-family: 'HK Grotesk Regular', Arial, sans-serif;
}

li.nav-footer-item > a.nav-footer-link:hover{
    color: #fff;
    text-decoration: none;
    font-family: 'HK Grotesk SemiBold', Arial, sans-serif;
}

div.el-copyright{
    background: #9ddf36;
    color: #fff;
    font-family: 'HK Grotesk Regular', Arial, sans-serif;
}

div.fielo-record.fielo-markup.fielo-content.fielo-js-component > h3.fielo-title{
    display: none!important;
}

div.fielo-record.fielo-markup.fielo-content.fielo-js-component > span.fielo-output.fielo-output__text > span > table.htmlDetailElementTable{
    width: 100%;
}

footer.fielo-outline.fielo-footer > div.mdl-grid.fielo-row > div.mdl-cell{
    margin: 0;
}

footer.fielo-outline.fielo-footer > div.mdl-grid.fielo-row > div.mdl-cell.mdl-cell--12-col{
    width: calc(100%);
}

/*Home*/

/* div.home__seccion1{

} */

h1.home__blue{
    color: #2540f8;
    font-family: 'Sansation Regular';
}

p.home__seccion1-parrafo{
    color: #002382;
    font-size: 1.7rem;
}

div.home__seccion1 > div > a.btn.btn-blue{
    background: #2540f8;
    border-radius: 0;
    padding: 5px 50px;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
}

div.home__seccion1 > div > a.btn.btn-blue > span{
    color: #9ddf36
}

div.home__seccionMapa{
    padding-top: 4rem;
    padding-bottom: 3rem;
}

/* LOGIN */

legend.fielo-title{
    display: none!important;
}

.header__nav-responsive{
    padding: 15px 10px;
}

div.login__seccion1{
    padding: 20px 10px;
}

@media (min-width:1080px) {
    div.login__seccion1{
        padding: 50px 10px;
    }
}

h1.login__seccion1-titulo{
    text-decoration: underline;
    -webkit-text-decoration-color: #9ddf36;
    text-decoration-color: #9ddf36;
    text-underline-offset: 33%;
    line-height: 6rem;
}

p.login__seccion1-subtitulo{
    color: #002382;
    font-size: 1.4em;
    font-weight: bold;
}

.login__componentBox{

}

div.fieloplt-login > form > fieldset,
div.fieloplt-login > form > fieldset > div.fielo-field--is-username > div {
    margin-bottom: 1.3rem!important;
}

.fielo-field--is-username > .fielo-field__label,
.fielo-field--is-password > .fielo-field__label{
    color: #002382;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 30px;
    text-align: right;
}

.fielo-field--is-username > .fielo-field__value > input,
.fielo-field--is-password > .fielo-field__value > input{
    width: 33%;
    min-width: 250px;
    border: 1px solid #cccccc;
}

div.fieloplt-login > form > div.fielo-controls{
    text-align: center;
}

div.fieloplt-login > form > div.fielo-controls > button.fieloplt-login__submit{
    background: #2540f8;
    border: 0;
    color: #9ddf36;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    outline: none;
    padding: 5px 60px;
}

div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:hover,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:focus,
div.fieloplt-login > form > div.fielo-controls > a.fielo-login__link:visited{
    color: #053eff;
    font-size: 1.2em;
}

/* REGISTRO */

div.registro__seccion1{
    background: #f7f7f7;
}

h1.registro__headinType1{
    font-family: 'Sansation Regular';
    margin: 0;
}

h1.registro__headinType2{
    font-family: 'Sansation Light';
    margin: 0;
}

h2.registro__headinType3{
    font-family: 'HK Grotesk Regular';
    font-size: 1.7rem;
}

.registro__form > div.slds-media__body{
    display: none;
}

.slds-form-element__label{
    color: #002382!important;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem!important;
    font-weight: bold;
}

.slds-select,
.slds-input{
    border: 1px solid #ccc!important;
    border-radius: 0;
    color: #838282!important;
}

.slds-scope{
    font-family: 'HK Grotesk Regular'!important;
}

.slds-checkbox__label > span.slds-form-element__label,
.slds-checkbox__label > a{
    color: #838282!important;
    font-size: 1rem!important;
}

a#idSaveButon{
    background: #2540f8;
    border-radius: 0;
    color: #9ddf36;
    font-family: 'HK Grotesk Regular';
    font-size: 1.2rem;
    padding: 5px 50px;
}


/* QUIENES SOMOS */

p.quienesSomos__seccion-1-parrafo{
    color: #002382;
    font-size: 1.2rem;
}

@media (min-width:1080px) {
    p.quienesSomos__seccion-1-parrafo{
        color: #002382;
        font-size: 1.4rem;
    }
}

.quienesSomos__seccion-2{
    background-color: #2540f8;
    background-image: url(../images/quienes-somos/quienesSomos__elemento1.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 470px;
}

@media (min-width:1080px) {
    .quienesSomos__seccion-2{
        background-position: 100% 50%;
        background-size: 50%;
    }
}

.quienesSomos__seccion-2-row{
    min-height: 470px;
}

h1.quienesSomos__titulo2-blanco{
    color: #fff;
    font-family: 'Sansation Light';
}

h1.quienesSomos__titulo2-azul{
    color: #053eff;
    font-family: 'Sansation Light';
}

ul.quienesSomos__lista1-blanco{
    color: #fff;
    margin-top: 30px;
}

ul.quienesSomos__lista1-blanco > li{
    color: #fff;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem;
}

ul.quienesSomos__lista1-azul{
    color: #002382;
    margin-top: 30px;
}

ul.quienesSomos__lista1-azul > li{
    color: #002382;
    font-family: 'HK Grotesk Regular';
    font-size: 1.3rem;
}

div.quienesSomos__seccion-3-icons{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

@media (min-width:1400px) {
    div.quienesSomos__seccion-3-icons.borde{
        border-left: 1px solid #9ddf36;
    }
}

p.quienesSomos__seccion-3-txt{
    color: #053eff;
    font-family: 'HK Grotesk Regular';
    padding-top: 10px;
}

.quienesSomos__seccion-4{
    background: #f7f7f7;
}

.quienesSomos__elemento2-img{
    max-width: 130px;
}

@media (min-width:1080px) {
    .quienesSomos__elemento2-img{
        max-width: 187px;
    }
}